
{% load staticfiles %}

{% load ipack %}

{% load "bts" "css"%}






<script src="{% static "js/jquery-1.10.2.js"%}"></script>
<script src="{% static "js/sweetalert2.all.js"%}"></script>
{% include "pages/head.html" %}

{% include "pages/chatbox.html" %}


<script >

 $( window ).scroll(function() {
    $("#1").offset({ top:$(window).scrollTop() });
  })



</script>

<div style="z-index:1" class="navbar" id="1">
<div class="container"  >
  <div class="brand" >
    <h2><a href="/">Fetcher</a></h2>
     </div>


    <ul class="links">
     
      
      {% if user.is_anonymous %}
      <li><a href="/accounts/login/">login </a></li>
      <li><a href="/accounts/register/">sign in </a></li>
      {% else %}

      <li ><a href="/">Home</a></li>
      <li><a href="/admin">Admin</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/jobs">Fetch</a></li>
      <li><a href="#" onclick="searchr()">Search</a></li>
      <li><a href="/gallery">My gallery</a></li>
      <li><a href="/settings">Settings</a></li>      
      <li ><a href="/accounts/logout">leave</a></li>

<!--       <div style="position: relative;float:right;top: 0px;">
      <li><label>look</label></li>
      <li><input style="" type="text" name='look' class="form-control" id="look" ></li>
    <div style="clear: both;" ></div>

      </div> -->
     {% endif %}
    

    </ul>
    <div style="clear: both;" ></div>
      </div>

</div>


<script src="{% static "js\img_cover.js"%}"></script>

<script type="text/javascript">
async  function searchr(){

const {value: name} = await swal({
  title: 'What is your name?',
  input: 'text',
  inputPlaceholder: 'Enter  name or nickname',
  showCancelButton: true,
  confirmButtonColor:"#ee5706",
  inputValidator: (value) => {
    return !value && 'You need to write something!'
  }
})

if (name) {
  swal({type: 'success', title: 'Hi, ' + name})
}

 }
</script>

