{% include "pages/head.html" %} 
<head>
  <title>{{title}} </title>
  

{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}

  <link rel="stylesheet" type="text/css" href="{% static "css\pop_up.css"%}">
  <link rel="stylesheet" type="text/css" href="{% static "css\style2.css"%}">
  <link rel="stylesheet" type="text/css" href="{% static "css\prof.css"%}">

</head>
<body id="menu" id2={{direc}} >

<form method="post" class="navbar-form" action="" onsubmit="return false;">
{% include "registration/bar.html"%}


{% csrf_token %}
<div class="menu" >
  <div class="im" id="cover">
    <div   id="pic">
    <img class="im2" onclick="img_update(this);" img_front="main" blur_state="False"  src="" style="width: 20%;height: 40%;margin-left: 4.4%;border-radius: 100%;border-color: white; " > 

    <img class="change_p" style="display: none;" id="change_pid" height="15%" height="15%" src="{% static "img\change.png"%}">
    <img class="change_p_2" style="display: none;" id="change_pid2" height="15%" height="15%" src="{% static "img\ag.png"%}">


    <img onclick="load()" class="change_p" style="display: none;" id="choice1" height="15%" height="15%" src="{% static "img\tick.png"%}">
    <img onclick="cancel()" class="change_p_2" style="display: none;" id="choice2" height="15%" height="15%" src="{% static "img\no.png"%}">
    </div>
<ul id="2">

  <li><a href="/about">About me </a></li>
  <li><a href="/intrest">intrest</a></li>
  <li><a href="/page">page</a></li>

</ul>
</div><br><br>

<div class="pr">
  <div class="container">
    

<script >
var host ="127.0.0.1:8080"
  $("#pic").ready($.post( "http://"+host+"/inner/pic_im1", {"id": $("body").attr("id2")} ,function( data ) {
        $(".im2")[0].src=data;
      

      }));
    $("#cover").ready($.post( "http://"+host+"/inner/pic_im2", {"id": $("body").attr("id2")},function( data ) {
        $(".im").css("background","url("+data+")");
        $(".im").css("background-repeat","no-repeat");
        $(".im").css("background-position","center");
        $(".im").css("background-color","black");

      }));
</script>
  </div>
</div>
<br>  

<label style=" color:#ee5706">by med amine dahmen</label>
 
<div class="posts" id="wall" ic="0">
<div class="container"></div>
</div>
<script src="{% static "js/posts.js"%}"></script>
  <script type="text/javascript">
    function img_update(e){
        if (e.getAttribute("blur_state") =="False")
          $(".im2").addClass("blur_img");
          $("#change_pid").attr("style","")
          $("#change_pid2").attr("style","")

          $("#img_form").attr("name",e.getAttribute("img_front"))


    }
$(document).mouseup(function(e) 
{
    var container = $("#pic");

    if (!container.is(e.target) && container.has(e.target).length === 0) 
    {
    $("#change_pid2").attr("style","display:none;");
    $("#change_pid").attr("style","display:none;");
    
          $(".im2").removeClass("blur_img");

    }
});




$("#change_pid").click(function() {
    $("input[id='my_file']").click();
});

function cancel(){
$(".im2")[0].src= $(".im2")[0].getAttribute("main_img");

    $("#choice1").attr("style","display:none;");
    $("#choice2").attr("style","display:none;");
}

function load(){
  $("#choice1").attr("style","display:none;");
  $("#choice2").attr("style","display:none;");
  




var formData = new FormData();
formData.append('file', $("#my_file")[0].files[0]);
formData.append('csrf_token', $("input[name='csrfmiddlewaretoken']")[1]);

var xhr = new XMLHttpRequest();
xhr.open('POST', '/inner/pic',{});


xhr.onreadystatechange = function () {
    if (xhr.readyState === 4) {

        console.log("done");
    }
};

xhr.upload.onprogress = function (event) {
    console.log(event);
};

xhr.send(formData);





    
    
}


function upload_or(event){
  if ($("#my_file")[0].value)  {
    $("#change_pid2").attr("style","display:none;");
    $("#change_pid").attr("style","display:none;");
    $(".im2").attr("main_img",$(".im2")[0].src);
    console.log((event.target.files[0]));
    $(".im2")[0].src= URL.createObjectURL(event.target.files[0]);
    $(".im2").removeClass("blur_img");

    $("#choice1").attr("style","");
    $("#choice2").attr("style","");


  }


};
  </script>

</div>
</form>


  <form  id="img_form"  method="POST" >{% csrf_token %}
<input  name="" type="file" id="my_file" accept="image/*" style="display: none; " value="None" onchange="upload_or(event);" />
</form>
