<style type="text/css">

.chat-box {
  font:normal normal 11px/1.4 Tahoma,Verdana,Sans-Serif;
  color:#333;
  width:200px; /* Chatbox width */
  border:1px solid #344150;
  border-bottom:none;
  background-color:white;
  position:fixed;
  right:10px;
  bottom:0;
  z-index:9999;
  -webkit-box-shadow:1px 1px 5px rgba(0,0,0,.2);
  -moz-box-shadow:1px 1px 5px rgba(0,0,0,.2);
  box-shadow:1px 1px 5px rgba(0,0,0,.2);
}

.chat-box > input[type="checkbox"] {
  display:block;
  margin:0 0;
  padding:0 0;
  position:absolute;
  top:0;
  right:0;
  left:0;
  width:100%;
  height:26px;
  z-index:4;
  cursor:pointer;
  opacity:0;
  filter:alpha(opacity=0);
}

.chat-box > label {
  display:block;
  height:24px;
  line-height:24px;
  background-color:#344150;
  color:white;
  font-weight:bold;
  padding:0 1em 1px;
}

.chat-box > label:before {content:attr(data-collapsed)}

.chat-box .chat-box-content {
  padding:10px;
  margin-left: 10px;
  display:none;
}

/* hover state */
.chat-box > input[type="checkbox"]:hover + label {background-color:#ee5706}

/* checked state */
.chat-box > input[type="checkbox"]:checked + label {background-color:#ee5706}
.chat-box > input[type="checkbox"]:checked + label:before {content:attr(data-expanded)}
.chat-box > input[type="checkbox"]:checked ~ .chat-box-content {display:block}
</style>

{% if user.is_authenticated  %}
<div class="chat-box" id="chat-box">
    <input type="checkbox" />
    <label data-expanded="Close Chatbox" data-collapsed="Open Chatbox"></label>


</div>


<script type="text/javascript">





var fr_socket = new WebSocket('ws://' + window.location.host + '/ws/chat_list');


fr_socket.onmessage = function message(event) {
  var data = JSON.parse(event.data);
  console.log(typeof data['text']);
  if (data !==undefined){
  $("#chat-box .chat-box-content").fadeOut();
  $("#chat-box .chat-box-content").remove();
  $(data).each(function (e){
    e=data[e];
    if (e.is_active)
      $("#chat-box").append("<div user_id="+e.id+"   class='chat-box-content '><a onclick='alert($(this))' >[*]"+e.name+"</a></div>");
    else
      $("#chat-box").append("<div user_id="+e.id+" class='chat-box-content'><a onclick='alert($(this))' >"+e.name+"</a></div>");


  })
  
  }


};
function update_friends_list_box(){
    fr_socket.send(JSON.stringify("check_friends"));
    setInterval(function() {
    fr_socket.send(JSON.stringify("check_friends"));
    }, 10000);
  }

$(document).ready(function(){

fr_socket.onopen = function open() {
  update_friends_list_box();
  return 1;
};

if (fr_socket.readyState == WebSocket.OPEN) {
  fr_socket.onopen();
}

});

</script>

{% endif %}