	{% load staticfiles %}
  {% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
{% include "pages/head.html" %}
<style type="text/css">
	.form-control {
		margin-left: 25%;

	}

</style>
</head>
<body>
{% include "registration/bar.html" %}
<style type="text/css">
	.su{padding-right: 25px;
padding-left: 25px;
padding-top: 1px;
padding-bottom: 1px;}

</style>
<script type="text/javascript" src="{% static "js/settings.js"%}"></script>
<div   style="margin-top: 5%;border: 3px solid #ee5706" class="col-md-4 col-md-offset-4 " >
	<form  align="center" accept-charset="UTF-8" role="form" class="form-group" onsubmit="return false;" method="post">{% csrf_token %}<br>
			<div class="row" >
			<div class="col-lg-4">
			<label for="pass">last name</label><br>
			<input class="form-control lb" type="text" name="last" id="last">
			</div>
			<div class="col-lg-4" style="float: right;margin: 25px;">
			<input type="submit" class="su btn btn-primary" name="last" value="valid" onclick="subme('last');" />
			</div>
			<div style="clear: both;"></div>
			</div><br>


			<div class="row" >
			<div class="col-lg-4">
			<label for="first">first name</label><br>
			<input class="form-control lb" type="text" name="first" id="first">
			</div>
			<div class="col-lg-4" style="float: right;margin: 25px;">
			<input type="submit" class="su btn btn-primary"  value="valid" onclick="subme('first');" />
			</div>
			<div style="clear: both;"></div>
			</div><br>



			<div class="row" >
			<div class="col-lg-4">
			<label for="pass">password</label><br>
			<input class="form-control lb" type="text" name="pass" id="pass">
			</div>
			<div class="col-lg-4" style="float: right;margin: 25px;">
		
			</div>
			<div style="clear: both;"></div>
			</div><br>



			<div class="row" >
			<div class="col-lg-4">
			<label for="repass">re-input</label><br>
			<input class="form-control lb" type="text" name="pass2" id="repass">
			</div>
			<div class="col-lg-4" style="float: right;margin: 25px;">
			<input type="submit" class="su btn btn-primary" name="last" value="valid" onclick="subme('pass');" />
			</div>
			<div style="clear: both;"></div>
			</div><br>

		


					

	</form>

</div>

</body>
</html>