<html>
<head> 
{% load staticfiles %}
{% load crispy_forms_tags %}


  <title>sign in </title>

</head>
<body>
<br><br><br><br><br><br>
<div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a href="/">log in</a>
        </div><br>
        <form method="post" action="/sign">{% csrf_token %}
       {{ form |crispy }}
       {{ form_c |crispy }}<button class="btn btn btn-primary" >change</button><br><br>
        	<input class="btn btn btn-primary btn-block" type="submit" value="sign in">
        
        </form>
    </div>
</body>
</html>