<!DOCTYPE html>
<html>
<head>
	<title>welecome Home</title>
</head>
<body>
{%  include "registration/bar.html" %}
<div id="tb" class="modal-content">
    <span class="close" id="close">×</span>
    <span class="close" id="act">*</span>
   <h3>seach result ...</h3>
  <table id="fake"><tbody><tr class="bar"><a href="id=3"> name :    email : med-moonlight@hotmail.com</a></tr><tr class="bar"><a href="id=4"> name :  med  email : med-moonlight@hotmail.com</a></tr><tr class="bar"><a href="id=10"> name :  med  email : med-moonlight@hotmail.com</a></tr></tbody></table></div>

</div>
</body>
</html>